# Prismic repository name
# This variable will be publicly available and accessible in pages.
GATSBY_PRISMIC_REPOSITORY_NAME=your-repository-name

# Prismic access token
# See: https://user-guides.prismic.io/en/articles/1036153-generating-an-access-token
# This variable will be private and only accessible in `gatsby-node.js`.
PRISMIC_ACCESS_TOKEN=your-access-token
