{
  "plugins": ["lodash"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1%", "last 1 version"]
        }
      }
    ],
    "@babel/preset-react"
  ]
}
