{
  "sourceMaps": true,
  "plugins": ["lodash"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    "@babel/preset-react"
  ]
}
