@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono&display=swap');

.root {
  all: initial;
  background-color: rgba(33, 39, 53, 0.8);
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  /* Now we're playing with fire */
  z-index: 2147483647;
}

@media (min-width: 480px) {
  .root {
    padding: 50px;
  }
}

.content {
  /* TODO: center */
  display: block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.root *,
.root *::before,
.root *::after {
  box-sizing: inherit;
}
