.modal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 12px 16px 0 rgba(0, 0, 0, 0.08);
  color: #4a5669;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 10vh auto 0;
  max-width: 540px;
  padding: 30px 20px;
  position: relative;
}

.closeButton {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border-radius: 0;
  border: 0;
  color: #e0e2ee;
  cursor: pointer;
  height: 18px;
  outline: none;
  padding: 0;
  position: absolute;
  right: 20px;
  text-align: inherit;
  top: 20px;
  transition: color 100ms;
  width: 18px;
}

.closeButton:hover,
.closeButton:focus {
  color: #959cac;
}

.closeButtonIcon {
  display: block;
  height: 100%;
}

.prismicLogo {
  display: block;
  height: 45px;
  margin: 0 auto 28px;
  width: 45px;
}

@media (min-width: 480px) {
  .modal {
    font-size: 14px;
    padding: 35px 40px;
  }

  .closeButton {
    top: 24px;
    right: 24px;
  }
}

/**
 * ============================================================================
 * RED MODAL OVERRIDES
 * ============================================================================
 */

.modalRed {
  background-color: #be123c;
  color: #fff;
}

.modalRed .prismicLogo path {
  fill: #fff;
}

.modalRed .closeButton {
  color: #ffb4b4;
}

.modalRed .closeButton:hover,
.modalRed .closeButton:focus {
  color: #fff;
}
